<a href="https://colab.research.google.com/github/Jsoyoung/mulcamp34/blob/main/pandas_file_240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파일 입출력
- read_csv() : https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
- 그 외 파일 형식 불러오기 자료 : https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [ ]:
import pandas as pd

DATA_PATH = 'playground-series-s4e1/'
train = pd.read_csv(DATA_PATH + 'train.csv')
test = pd.read_csv(DATA_PATH + 'test.csv')
submission = pd.read_csv(DATA_PATH + 'sample_submission.csv')

In [ ]:
train.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [ ]:
result = train.loc[:, ['id', 'Age']]
result.to_csv("result11.csv", index=False)  # index=False 시, index 번호는 열로 추출 안함

# 실행하면 프로젝트 폴더 내로 내보내기가 된다.(playground 폴더가 아니라!)

In [ ]:
result.to_csv(DATA_PATH + "result.csv")

# playground 폴더에 내보내기 하고싶다면 경로 더해주면 된다.