<a href="https://colab.research.google.com/github/Jsoyoung/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 어제 배운 것 리뷰
- 클래스, 함수
- 문자열 클래스 다양한 메서드
- 리스트 클래스 다양한 메서드
  + append, extend, insert, remove...

# 딕셔너리
- Dictionary : 영어 및 국어사전
- 구성 : key-value, keyword(=key), 결과값(=value)
  + 문자열, 리스트, tuple : 데이터 조회 시, 인덱싱 또는 슬라이싱
  + 딕셔너리에서 값을 조회하는 것은 key값을 통해 가능

In [1]:
# 나라-수도 이름
country_capital = {
    "대한민국" : "서울",
    "프랑스" : "파리",
    "미국" : "워싱턴",
    "영국" : "런던"
}

country_capital   # key:value

{'대한민국': '서울', '프랑스': '파리', '미국': '워싱턴', '영국': '런던'}

In [2]:
# 딕셔너리에서 value 값을 key 값 통해서 조회 가능
country_capital['대한민국']

'서울'

In [4]:
# key 값은 중복으로 만들 수 없음
country_capital['미국']

'워싱턴'

In [5]:
data = {1:'버스', 3:'비행기'}
data

{1: '버스', 3: '비행기'}

In [6]:
# 숫자 1은 리스트, 문자열, tuple 인덱스 번호와는 다른 숫자
# 현재 여기에서 숫자 1은 key 값임
data[1]

'버스'

In [7]:
data2 = {'list1' : [1,2,3], 'list2' : [4,5,6]}
data2

{'list1': [1, 2, 3], 'list2': [4, 5, 6]}

In [9]:
data3 = {'list1' : [1,2,3], 'list2' : [4,5,6], 1 : '테스트', 2 : 100}
data3  # 리스트, 문자 등 여러 형태가 섞여서 존재 가능

{'list1': [1, 2, 3], 'list2': [4, 5, 6], 1: '테스트', 2: 100}

## 딕셔너리 사용처
- 데이터 분석 : 엑셀 테이블
  + 1억개, 데이터 가공 (최소 1-2시간 가공작업)
  + 임시 테이블

- HTML, CSS, 인터넷 자료형 중, JSON 데이터 포맷
- JSON 데이터 포맷 -> 딕셔너리와 동일
  + API 데이터 크롤링, 기본 자료형(JSON) -> 딕셔너리 변환, 변환 후 데이터 가공

## 딕셔너리 다루기

- 딕셔너리의 value 값 수정하는 방법

In [11]:
# 내가 좋아하는 도시 이름
country_capital['대한민국'] = '부산'
country_capital

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴', '영국': '런던'}

In [12]:
# del
del country_capital['영국']

country_capital

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴'}

In [13]:
country_capital['일본'] = '도쿄'
country_capital

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴', '일본': '도쿄'}

## 딕셔너리 메서드

In [16]:
print(type(country_capital))  # 딕셔너리 객체
# 딕셔너리가 보유한 클래스 메서드를 사용할 수 있음
# dict_data(객체명)
country_capital.keys()

<class 'dict'>

dict_keys(['대한민국', '프랑스', '미국', '일본'])

In [24]:
country_capital = {
    "대한민국" : "서울",
    "프랑스" : "파리",
    "미국" : "워싱턴",
    "영국" : "런던"
}

In [25]:
result = country_capital.keys()
result.append('독일')

AttributeError: ignored

In [28]:
# 클래스를 변환
result = list(country_capital.keys())
result.append('독일')
result

['대한민국', '프랑스', '미국', '영국', '독일']

In [19]:
# 책 : 딕셔너리에서 키 전체를 리스트 형태로 반환
# type 확인하면 리스트가 아님(형태일 뿐)
print(type(country_capital.keys()))

<class 'dict_keys'>

In [20]:
# 데이터 형변환(리스트로 변환 : 수정,삭제 가능해짐)
list(country_capital.keys())

['대한민국', '프랑스', '미국', '일본']

In [17]:
country_capital.values()

dict_values(['부산', '파리', '워싱턴', '도쿄'])

In [18]:
country_capital.items()

dict_items([('대한민국', '부산'), ('프랑스', '파리'), ('미국', '워싱턴'), ('일본', '도쿄')])

In [22]:
new_df = {
    '중국' : '베이징', '필리핀' : '마닐라', '호주' : '캔버라'
}
country_capital.update(new_df)
country_capital

{'대한민국': '부산',
 '프랑스': '파리',
 '미국': '워싱턴',
 '일본': '도쿄',
 '중국': '베이징',
 '필리핀': '마닐라',
 '호주': '캔버라'}

In [23]:
country_capital.clear()  # 빈 Dictionary 생성
country_capital

{}

# IF 조건문
- 만약 A라면 ~일 것이다
- 프로그래밍에서 조건문
  + 만약 조건이 True라면 ~를 해라
  + 참과 거짓을 만드는 것이 포인트

In [34]:
x = int(input("점수를 입력하세요")) # 문자를 숫자로 형변환
if x >= 90:
  print("합격")

점수를 입력하세요98
합격

- 조건문을 문장으로 먼저 만드는 훈련을 하는 것이 중요함

In [35]:
x = int(input("점수를 입력하세요"))
if x >= 90:
  print("합격")  # 코드블록(들여쓰기 해야 함)
else:
  print("불합격")

점수를 입력하세요40
불합격

In [36]:
x = int(input("점수를 입력하세요"))
if x >= 90:
  print("합격")

elif x >= 80:
  print("부분합격, 면접 필요")

else:
  print("불합격")

점수를 입력하세요85
부분합격, 면접 필요

# 문제
- 학생 성적에 따라서 등급 정하기, 점수는 0에서 100점
- A, B, C, D, F

In [43]:
y = int(input("점수를 입력하세요..."))
if y >= 93:  # 경계값으로 테스트하는 것이 좋음
  print("A")

elif y >= 85:
  print("B")

elif y >= 75:
  print("C")

elif y >= 65:
  print("D")

else:
  print("F")

점수를 입력하세요...70
D

In [47]:
# 중첩 조건문
# if 조건문 내부에 또다른 조건문 생성

x = int(input("점수를 입력하세요..."))

# 100점 맞은 사람 있으면 '장학금' 출력
# 합격을 받은 사람들 중 100점인 사람인 경우

if x >= 90:

  if x == 100:
    print("장학금 수여")
  else:
    print("합격")

else:
  print("불합격")

점수를 입력하세요...95
합격

# 반복문
- for-loop, while
- 반복문의 필요성

In [48]:
# Hello Python 10번 출력해서 가져오기
# 똑같은 코드 반복 > 불편

print("Hello Python")
print("Hello Python")
print("Hello Python")
print("Hello Python")
print("Hello Python")
print("Hello Python")
print("Hello Python")
print("Hello Python")
print("Hello Python")
print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [50]:
for i in range(10):
  print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

## for-loop 특징
- 반복 범위가 주어짐

In [52]:
for i in range(3):   # range(3) : 반복범위, i : for-loop에서 쓰는 지역변수(변경 가능)
  print(f'{i}번째 Hello Python')

0번째 Hello Python
1번째 Hello Python
2번째 Hello Python

- 반복범위 지정 시, 시퀀스 자료형도 사용 가능
  + 오늘 블로그 주제 : 시퀀스 자료형에 대해서 정리
  + 대표적인 것 : 리스트, 문자열

In [53]:
nums = [1,2,3,4,5]
for num in nums:
  print(num)

1
2
3
4
5

In [55]:
strings = "Hello"
for text in strings:
  print(text)

H
e
l
l
o

In [57]:
tuples = (1,2,3,4)
for num in tuples:
  print(num)

1
2
3
4

In [62]:
country_capital

for country in country_capital:
  print(country)  # key값만 출력됨. but 원하는 것은 value값

대한민국
프랑스
미국
영국

In [64]:
x = '대한민국'
country_capital[x]

'서울'

In [67]:
x = '프랑스'

print(f'대한민국의 수도는 서울이다')
print(f'{x}의 수도는 서울이다')
print(f'{x}의 수도는 {country_capital[x]}이다')

대한민국의 수도는 서울이다
프랑스의 수도는 서울이다
프랑스의 수도는 파리이다

In [63]:
for country in country_capital:
  print(f'{country}의 수도는 {country_capital[country]}이다.')

대한민국의 수도는 서울이다.
프랑스의 수도는 파리이다.
미국의 수도는 워싱턴이다.
영국의 수도는 런던이다.

In [72]:
# 중첩 포문
# 반복문 내 또 다른 반복문

x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

#print('x1 y1')
#print('x1 y2')
#print('x2 y1')
#print('x2 y2')

for x in x_list:
  for y in y_list:
    print(x,y)

x1 y1
x1 y2
x2 y1
x2 y2

## 구구단
- 2 x 1 = 2

In [74]:
x = 2
y = 4
f'{x} * {y} = {x*y}'

'2 * 4 = 8'

In [75]:
x_list = [2,3,4,5,6,7,8,9]
y_list = [1,2,3,4,5,6,7,8,9]

for x in x_list:
  for y in y_list:
    print(f'{x} * {y} = {x*y}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [77]:
for x in range(1, 10):
  for y in range(1, 10):
    print(f'{x} * {y} = {x*y}')
  print("---")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
---
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
---
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
---
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
---
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
---
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
---
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
---
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
---
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
---

In [80]:
names = ["A", "B", "C"]
ages = [10, 20, 30]

for name, age in zip(names, ages):
  print(name, age)

# for x, y in zip(names, ages):
#  print(x, y)  for 안에는 임의변수라서 다르게 지정해도 결과 동일

A 10
B 20
C 30

In [84]:
names = ["A", "B", "C"]
for idx, name in enumerate(names):
  print(idx, name)

0 A
1 B
2 C

## While 특징
- for-loop 특징 : 항상 반복문의 범위를 지정한다.
  + 몇번 반복문을 수행할 지 숫자로 컨트롤 가능
- While 특징
  + 조건문이 Flase가 될 때까지 반복문을 수행
  + 조건문이 True면 반복문 무한 수행

In [82]:
# 초기값 지정
i = 1
n = 3

while i <= n:  # 특정 조건문을 False가 되도록 코드를 작성하는 것이 포인트
  print(f'현재 {i} 번')
  i = i + 1

현재 1 번
현재 2 번
현재 3 번

## for-loop, while 비교
- Only 데이터 분석만 하겠다
  (for-loop만 집중 공부)
  + 행과 열은 거의 고정
  + 범위가 주어져 있음

- 개발자로 경력을 쌓고 싶다
  (for-loop, while문 둘 다 익힐 것)
  + 카메라 켜진 상태에서 필터를 추가한다

## break 문
- 중간에 반복문 강제 종료
  + 특정 시점에 반복문 강제

In [86]:
i = 1
n = 3

while True:
  print(f'현재 {i} 번')

  if i >= 5:
    break

  i = i + 1

현재 1 번
현재 2 번
현재 3 번
현재 4 번
현재 5 번

In [88]:
for i in range(10):
  print(f'현재 {i}번')
  if i > 5:
    print("if 조건문 만족")
    break

현재 0번
현재 1번
현재 2번
현재 3번
현재 4번
현재 5번
현재 6번
if 조건문 만족

## 문자열과 for-loop

In [90]:
texts = 'Python'
for text in texts:
  print(text)
  # text가 t가 되면 break
  if text == 't':  # 조건식을 숫자로 비교, 문자 매칭 여부에 따라서 True/False
    print("text는 t입니다.")
    break

P
y
t
text는 t입니다.

## 리스트 컴프리헨션
- for loop 및 for loop if 조건문 한 줄로 처리

In [91]:
# pythonic 코드
numbers = [1,2,3,4,5]

result = [1,4,9,16,25] # 거듭제곱

In [92]:
numbers = [1,2,3,4,5]
result = []

In [97]:
result = []
temp1 = 1 ** 2
temp2 = 2 ** 2
temp3 = 3 ** 2
result.append(temp1)
result.append(temp2)
result.append(temp3)
result

[1, 4, 9]

In [107]:
numbers = [1,2,3,4,5]
result = []

for i in numbers:
  result.append(i ** 2)

result

[1, 4, 9, 16, 25]

In [101]:
numbers = [1,2,3,4,5]
result2 = [i ** 2 for i in numbers]
result2

[1, 4, 9, 16, 25]

- 조건문 추가

In [103]:
numbers = [1,2,3,4,5]
result = []

for i in numbers:
  if i >= 3:
    result.append(i ** 2)

result

[9, 16, 25]

In [105]:
numbers = [1,2,3,4,5]
result2 = [i ** 2 for i in numbers if i >= 3]
result2

[9, 16, 25]

- 시각화 라이브러리
  + matplotlib, plotly 옵션 설정할 때 자주 사용됨

# 파이썬 문서화 (Docstring)
- 코딩을 한다, 프로그래밍을 한다
- 누군가에게 관련 지식을 전달하는 것과 동일
- 프로젝트 진행
  + 마지막 주에는
    - 2~3명 ppt 보고서 작성
    - 남은 인원, Docstring을 사용해서 문서화
  + help() 명령어를 사용해서 불러오기 할 수 있음 (예: read_csv() 문서처럼 출력이 가능)

In [114]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [116]:
def myPower(n):
  '''숫자 n을 입력하면 n의 거듭제곱으로 반환'''
  result = n ** 2
  return result

In [119]:
print(myPower(3))

9

In [121]:
print(myPower.__doc__)  #주석처리했던 내용 출력

숫자 n을 입력하면 n의 거듭제곱으로 반환

In [122]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [123]:
def read_csv(sep, header):
  '''
  Returns the sum of ~~~.

    Parameters:
      sep(str): Character or regex pattern to treat as the delimiter.
      header(int): Row number(s) containing column labels.

    Returns:
      c(int): Sum of ~~
  '''

  c = sep + header
  return c

In [124]:
print(read_csv.__doc__)

  Returns the sum of ~~~.

    Parameters:
      sep(str): Character or regex pattern to treat as the delimiter.
      header(int): Row number(s) containing column labels.

    Returns:
      c(int): Sum of ~~

# 클래스 상속
- 부모 > 자식
- 대분류 > 중분류 > 소분류

- 동물
  + 동물의 공통적인 특징 : 살아 움직인다
- 포유류
  + (살아 움직인다) 4발이 있다, 새끼를 낳는다
- 파충류
  + (살아 움직인다) 알을 낳는다

In [135]:
class Animal:
  # Attribute 정의(=클래스 변수)
  name = ""

  # 공통함수
  def eat(self):
    print("나는 먹을 수 있음")

class Dog(Animal):  # 클래스 상속을 했다.
                    # 동물 -> 강아지로 기본 기능을 제공함
  # name = "" 이 코드 불필요함

  # 새로운 메서드
  def dance(self):
    print(f"{self.name} 강아지가 춤을 춘다")

In [136]:
# 객체 생성
a = Dog()
a.name = "나비"
a.eat()    # 객체 생성을 dog로 했지만 animal 클래스 사용

나는 먹을 수 있음

In [137]:
a.dance()

나비 강아지가 춤을 춘다

In [138]:
b = Animal()
b.name = "아무거나"
b.eat()

나는 먹을 수 있음

In [139]:
b.dance() # animal에는 dance가 없어서 오류발생
          # a는 dog에 animal을 상속받은 거라 가능

AttributeError: ignored

## 클래스 Docstring

In [141]:
class Person:
  """

  자기소개하는 Person 클래스.

  '''
  Attributes
  -----------
  name : str
    사람의 이름을 의미
  age : int
    사람의 나이를 의미
  grade : int
    사람의 현재 학년을 의미

  Methods
  -----------
  info(comment = ""):
    사람의 개인정보를 출력

  """

  def __init__(self, name, age, grade):
    """

    """
    self.name = name
    self.age = age
    self.grade = grade

  def info(self, comment = ""):
    """

    """
    print(f'내 이름은 {self.name}. 내 나이는 {self.age}. 현재 학년은 {self.grade}. {comment}')

In [142]:
print(Person.__doc__)

  자기소개하는 Person 클래스.

  '''
  Attributes
  -----------
  name : str
    사람의 이름을 의미
  age : int
    사람의 나이를 의미
  grade : int
    사람의 현재 학년을 의미

  Methods
  -----------
  info(comment = ""):
    사람의 개인정보를 출력

In [143]:
help(Person)

Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(name, age, grade)
 |
 |  자기소개하는 Person 클래스.
 |
 |  '''
 |  Attributes
 |  -----------
 |  name : str
 |    사람의 이름을 의미
 |  age : int
 |    사람의 나이를 의미
 |  grade : int
 |    사람의 현재 학년을 의미
 |
 |  Methods
 |  -----------
 |  info(comment = ""):
 |    사람의 개인정보를 출력
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age, grade)
 |
 |  info(self, comment='')
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {}