<a href="https://colab.research.google.com/github/Jsoyoung/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231228.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 27일 리뷰
- int, float, str, bool(True/False)
- 리스트, 튜플

# 문자열 함수
- 교재 (p.158)
- 영어 : function, method

## split() : 문자열 분리

In [1]:
coffee_menu_str = "에스프레소,아메리카노,카페라테,카푸치노"
coffee_menu_str.split(',')

# 결과해석
# 내가 원하는 대로 결과가 나왔는가?
# 반환값, Return 자료형 확인 필수 > type로 확인 가능

['에스프레소', '아메리카노', '카페라테', '카푸치노']

In [2]:
"에스프레소,아메리카노,카페라테,카푸치노".split(',')

['에스프레소', '아메리카노', '카페라테', '카푸치노']

In [3]:
"에스프레소 아메리카노 카페라테 카푸치노".split(' ')

['에스프레소', '아메리카노', '카페라테', '카푸치노']

In [4]:
"에스프레소.아메리카노.카페라테.카푸치노".split('.')

['에스프레소', '아메리카노', '카페라테', '카푸치노']

In [6]:
phone_number = "+82-01-2345-6789"

# +82만 추출하기
print(phone_number.split('-')[0])

# 정석
# result = phone_number.split('-')
# result[0]

+82

In [10]:
# maxsplit, 매개변수 (arguments, parameters)
phone_number.split('-',maxsplit=2)

['+82', '01', '2345-6789']

## strip() : 필요없는 문자열 삭제
- 앞뒤 공백 혹은 개행문자와 같이 불필요한 부분을 지우고 싶을 때 사용

In [15]:
tempText = ' Python '
tempText.strip()

'Python'

In [17]:
tempText = 'aaaPythonaaa'
# tempText[3:9] 고정적으로 사용하기에는 한계 있는 방법
tempText.strip('a')

'Python'

In [18]:
tempText = 'aaaaabbPythonbbaaaaaa'
result = tempText.strip('a')
result.strip('b')

# 코딩은 1가지의 정답이 있는 것이 아님
# 여러가지 정답 중에서 효율적인 정답을 찾는 과정이 코딩

'Python'

In [19]:
tempText.strip('ab') # 특수문자 활용도 가능

'Python'

In [20]:
tempText = '\n Python \n\n'  # 역슬래시 \
tempText.strip('\n')

' Python '

In [21]:
tempText.strip(' \n') # 앞에다 공백 넣어주면 제거 가능

# lstrip(), 해당 텍스트의 왼쪽
# rstrip(), 해당 텍스트의 오른쪽

'Python'

## join() : 문자열 연결
- 더하기 연산자(+)로 두 문자열을 연결 가능

In [22]:
name1 = '철수'
name2 = '영미'

hello = '님, 주소와 전화 번호를 입력해 주세요'

print(name1+hello)
print(name2+hello)

철수님, 주소와 전화 번호를 입력해 주세요
영미님, 주소와 전화 번호를 입력해 주세요

In [23]:
address_list = ['서울시', '서초구', '반포대로', '201(반포동)']

# 리스트의 각 값을 모두 연결해서 하나의 텍스트로
a = " "
a.join(address_list)

#a에 지정하지 않고 ".".join(address_list) 해도 됨

'서울시 서초구 반포대로 201(반포동)'

## find() : 문자열 찾기
- 문자열의 위치값을 반환

In [27]:
str_f = 'Python code.'
print("찾는 문자열의 위치:", str_f.find('Python'))
print("찾는 문자열의 위치:", str_f.find('code'))
print("찾는 문자열의 위치:", str_f.find('n'))
print("찾는 문자열의 위치:", str_f.find('java'))  # -1: 해당되는 문자 없음

찾는 문자열의 위치: 0
찾는 문자열의 위치: 7
찾는 문자열의 위치: 5
찾는 문자열의 위치: -1

## count() : 찾고자 하는 문자열의 횟수 반환
- 만약, 찾을 문자열이 없으면 0으로 반환

In [30]:
str_c = "Python is powerful. Python is easy to learn. Python is open"
print("Python의 갯수는?", str_c.count("Python"))
print("Python의 갯수는?", str_c.count("powerful"))
print("Python의 갯수는?", str_c.count("Java"))

Python의 갯수는? 3
Python의 갯수는? 1
Python의 갯수는? 0

## startswith, endswith
- 각 문자열이 지정된 문자로 시작하는지 또는 끝나는지 체크(검사)할 때 사용

In [35]:
str_c = "Python is powerful. Python is easy to learn. Python is open."
print("Python으로 시작?", str_c.startswith('Python'))
print("Python으로 시작?", str_c.startswith('is'))
print("Python으로 시작?", str_c.endswith('.'))
print("Python으로 시작?", str_c.endswith('!'))

Python으로 시작? True
Python으로 시작? False
Python으로 시작? True
Python으로 시작? False

## replace() : 문자열 바꾸기
- 지정한 문자열을 찾아서 바꾸는 메서드

In [37]:
str_a = 'Python is fast. Python is friendly. Python is open.'

# Python을 IPython으로 바꾸기
print(str_a.replace('Python', 'IPython'))

IPython is fast. IPython is friendly. IPython is open.

In [44]:
str_b = '[Python][is][fast]'
str_b1 = str_b.replace('[', '') # 문자열에서 특정 문자 제거하는 효과
str_b2 = str_b1.replace(']', ' ')
result = str_b2.rstrip() # rstrip : 문장 뒤 공백을 지우기 위해 사용
print(result)

Python is fast

# 리스트 함수
- 교재(p.54)
- 처음에 프로그래밍 공부할 때
  + 1차는 교재 확인
  + 프로젝트 진행 시 => 공식문서에 친숙
  + 라이브러리 사용할 때, 공식문서를 보는 훈련을 해야 함

## append()
- 리스트에서 항목 하나를 맨 마지막에 추가

In [46]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.append('Thomas')
print(myFriends)

# 위 문법과 비교
# result= myFriends.append('Thomas')
# print(result) : append는 변수 지정 시 오류발생

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

## extend()
- 리스트에서 항목 여러 개를 맨 마지막에 추가

In [48]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.append('Thomas')

newFriends = ['A', 'B', 'C']

# myFriends.append(newFriends)
# 결과값 : ['James', 'Robert', 'Lisa', 'Mary', 'Thomas', ['A', 'B', 'C']]

myFriends.extend(newFriends)
myFriends

['James', 'Robert', 'Lisa', 'Mary', 'Thomas', 'A', 'B', 'C']

## insert()
- 항목의 위치를 나타내는 인덱스 i에 data를 삽입

In [49]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.insert(1, 'Evan')
print(myFriends)

['James', 'Evan', 'Robert', 'Lisa', 'Mary']

## 오전 수업 리뷰
- 다양한 함수를 사용
  + string, list 관련된 주요 메서드
- 각 메서드명, 매개변수에 대해 처음 접함
  + 주의 / 확인 : 함수를 실행 후 반환값, Return값을 확인해야 함 (리스트인지 텍스트인지 등)
- 공식문서 확인
  + 코드를 암기하려 하지 말고 공식문서 보는 방법을 익힘
  + 코드 암기는 언제 필요할까? : 빅데이터 분석기사 실기 볼 때만 집중적 암기 or 코딩테스트

# 클래스

## 함수
- 다른 개발자 분들이 만들어 놓은 함수를 갖다 씀
- 이번 시간에 해야 하는 것 : 함수 직접 만들기
  + 의미있는 함수를 만드는 것이 프로젝트
- 프로그래밍을 한다! -> 재실행할거다, 재실행 또는 반복 실행을 하기 위한 방법론: 함수
- 언제 함수를 만들어야 할까?
  + 매일 반복적일 것 같은 느낌이 들 때 함수 만들면 됨
  + 분석 프로젝트 시, 새로운 파생변수 만드는 매서드를 정의
  + 개발자 : 속도를 빠르게 만들어주는 함수, ETL을 효율적으로 해주는 함수

In [ ]:
# 함수의 구조
# 매개변수, 인자
# p.116
def 함수명([인자1, 인자2, ..., 인자n]):
  # 코드 블록 indentation(들여쓰기, 스페이스2 or tab)
  return 반환값

In [53]:
def mySum(a, b):
  c = a + b
  return c

a = 1
b = 1

result = mySum(a,b)
print(result)

2

- 뺄셈 함수 만들기
  + 함수명 : mySubtract

In [54]:
def mySubtract(a,b):  # 무조건 a,b가 입력이 되어야 함. 필수 조건
  c = a - b
  return c

a = 2
b = 1

result = mySubtract(a,b)
print(result)

1

In [55]:
x = 3
y = 1

result = mySubtract(x,y)
print(result)

2

In [57]:
m = 1


result = mySubtract(m)
print(result)
# 오류 : TypeError: mySubtract() missing 1 required positional argument: 'b'

In [60]:
def mySubtract(a,b=0):  # b의 초기값을 0으로 설정 (일반적으로 b = None 씀)
  c = a - b
  return c

M = 10
result = mySubtract(M)
print(result)

K = 10
N = 100
Result = mySubtract(K,N)  # b가 0 -> 100으로 변경됨
print(Result)

10
-90

In [61]:
def my_func():
  print("My first function")
  print("This is a function!")

In [62]:
result = mySubtract(M,N)  # 반환값이 있는 메서드
my_func()  # 반환값이 없는 메서드

My first function
This is a function!

In [63]:
def mySum(a,b = 0):
  c = a + b
  print(f'함수 잘 작동 중?{c}')

a = 1
result = mySum(a)
print(result)
# 결과값

# 함수 잘 작동 중?1
# None : 반환값 없다는 뜻

함수 잘 작동 중?1
None

In [64]:
def mySum(a,b = 0):
  c = a + b
  # print(f'함수 잘 작동 중?{c}')  위 코드처럼 결과값 확인했으면 주석처리하고 마무리
  return c

a = 1
result = mySum(a)
print(result)

1

### 변수의 유효범위
- p.121
- 지역 변수 & 전역 변수
- Local Variable & Global Variable

In [67]:
a = 5 # 전역 변수

def func1():
  a = 1 # 지역 변수
  print(f'func1 지역 변수 a = {a}')  # 함수 내부에서만 a값 1

func1()
print(f'전역 변수 a = {a}')

func1 지역 변수 a = 1
전역 변수 a = 5

In [68]:
a = 5 # 전역 변수

def func1():
  # a = 1 # 지역 변수
  print(f'func1 지역 변수 a = {a}')  # 내부에서 a값 지정 안하면 전역 변수가 함수 내부에도 영향 줌

func1()
print(f'전역 변수 a = {a}')

func1 지역 변수 a = 5
전역 변수 a = 5

In [70]:
a = 5 # 전역 변수

def func1():
  a = 1 # 지역 변수
  print(f'func1 지역 변수 a = {a}')

def func2():
  a = 4 # 지역 변수
  print(f'func2 지역 변수 a = {a}')

func1()
func2()
print(f'전역 변수 a = {a}')

func1 지역 변수 a = 1
func2 지역 변수 a = 4
전역 변수 a = 5

In [76]:
a = 5 # 전역 변수

def func1():
  a = 1 # 지역 변수
  print(f'func1 지역 변수 a = {a}')

def func2():
  a = 4 # 지역 변수
  print(f'func2 지역 변수 a = {a}')

def func3():
  print(f'func3 전역 변수 a = {a}')

def func4():
  global a # 함수 내에서 전역 변수를 변경하기 위함
  a = 500
  print(f'func4 전역 변수 a = {a}')

func1()
func2()
func3()
func4()  # 500 나오는 것은 이해 완료
print(f'전역 변수 a = {a}')  # 여기도 500인 것이 포인트
func3()  # 전역 변수 변경 이후 출력 > 결과값 바뀜
func2()
func1()

func1 지역 변수 a = 1
func2 지역 변수 a = 4
func3 전역 변수 a = 5
func4 전역 변수 a = 500
전역 변수 a = 500
func3 전역 변수 a = 500
func2 지역 변수 a = 4
func1 지역 변수 a = 1

### 람다 함수
- 'def' 함수 같은 경우에는 복잡한 함수 로직을 만들 때 주로 사용
- 단순 기능을 수행할 때, lambda 함수
  + 함수를 한 줄로 처리

In [78]:
(lambda x : x ** 2)(3)

9

In [ ]:
(lambda 인자(=매개변수) : 인자를 활용한 코드)(원하는 인자 코드 입력)

In [83]:
mySquare = lambda x : x ** 2
mySquare(5)

25

In [82]:
def myPower(x):
  y = x ** 2
  print(y)
# return y

myPower(3)

9

## 클래스 선언과 객체 생성
- 교재 p.135
- 함수의 확장
- 함수와 클래스 비유적으로 비교
  + 함수 : 각 덧셈함수, 뺄셈함수, 곱셈함수 등
  + 클래스 : 사칙연산 클래스, (예: 계산기)
  + 라이브러리 : 클래스들의 묶음
    + 사칙연산 클래스
    + 미분 클래스
    + 적분 클래스
    + etc..
    + 수학 라이브러리

In [ ]:
# 자전거의 속성 : data (바퀴의 크기, 자전거의 색상)
# 자전거의 동작 : method (= function) 지정된 속도로 이동, 좌/우 회전, 정지 기능

In [ ]:
class Bicycle() : # 클래스 선언
  # 클래스 변수
  데이터1 = 바퀴의 크기
  데이터2 = 자전거의 색상

  # 클래스 메서드
  def 속도():
    pass

  def 방향():
    pass

  def 정지():
    pass

객체명 = Bicycle(데이터1, 데이터2) # 입력한 형태로 새로운 객체가 막 생기는 것

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

# 리스트를 만든 사람이 count() 동작을 만듦
fruits.count('apple')

# 리스트에서 숫자가 있음
Fruits = [1,2,3,4,5,6,7]
# 더하고 싶다 -> 리스트에는 숫자 덧셈 함수가 없음

### why Class? 프로그래밍 관점

In [84]:
result = 0
def add(num):  # 계산기 1대를 보유한 상태
  global result

  result = result + num # 결과값(result)에 입력값(num) 더하기
  return result

print(add(3))  # +5 -> 8
print(add(5))

3
8

- 계산기 1대가 더 필요한 상태

In [85]:
result1 = 0
result2 = 0

def add1(num):
  global result1

  result1 = result1 + num # 결괏값(result)에 입력값(num) 더하기
  return result1

def add2(num):
  global result2

  result2 = result2 + num # 결괏값(result)에 입력값(num) 더하기
  return result2


print(add1(3))
print(add1(5))
print(add2(3))
print(add2(8))

3
8
3
11

- 위 코드의 문제점 : 같은 기능(덧셈)을 수행하는 함수가 중복될 수 있음 / 코드의 가독성이 매우 급격하게 떨어지기 시작

- 점프 투 파이썬 클래스 예제

In [90]:
class Calculator:

  def __init__(self):
    self.result = 0  # result값을 초기화

  # 클래스 메서드
  def add(self, num):
    self.result = self.result + num
    return self.result

cal1 = Calculator() # 인스턴스화, 계산기 번호 1
cal2 = Calculator() # 인스턴스화, 계산기 번호 2
cal3 = Calculator()

# 클래스의 위대함
# 독립적으로 구현이 되면서, 동시에 실행이 되고 있음
# 기능은 덧셈 기능
# 계산기 댓수를 무한으로 생성가능

print(cal1.add(3))
print(cal1.add(5))
print(cal2.add(3))
print(cal2.add(100))

3
8
3
103

In [91]:
print(cal3.multiple(100))

# 오류 : AttributeError: 'Calculator' object has no attribute 'multiple'
# 클래스가 없음

AttributeError: ignored

In [92]:
print(cal3.Add(100))  # 오류 : 대소문자 확인!

AttributeError: ignored

### 객체 초기화
- __ init __() : 객체 생성과 동시에 속성값을 지정할 수 있다.
  + 주로 클래스 선언 시 변수 초기화

In [93]:
class Bicycle():

  # 변수 초기화
  def __init__(self, wheel_size, color):
    self.wheel_size = wheel_size
    self.color = color

  def stop(self):
    print('자전거({0}, {1}) : 정지'.format(self.wheel_size, self.color))

In [95]:
my_bicycle = Bicycle(26, 'black')
ur_bicycle = Bicycle(30, 'pink')

my_bicycle.stop()
ur_bicycle.stop()

자전거(26, black) : 정지
자전거(30, pink) : 정지