<a href="https://colab.research.google.com/github/Jsoyoung/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. 파이썬을 계산기처럼

- 파이썬의 장점 : 범용성
- 데이터 분석, 간단한 프로그램, 앱개발, 보안관련, 게임개발 가능
- 기업에서 머신러닝, 딥러닝을 요구하기 시작하면서 뜸

## 진로 관련 팁
- 데이터 분석가 : 기본언어 Python, 현업(의료기관은 R 수요 높음, 통계)
- 개발자 : 기본언어 Python, 이 과정 수료 후 장기적으로는 React, Java

## 사칙연산

In [ ]:
1+1 # 정수

2

In [ ]:
5-2 # 정수 연산 결과값은 정수로 반환

3

In [ ]:
5  -2

3

In [ ]:
15*2

30

In [ ]:
# 나눗셈
# Python 3.x 버전은 실수로 처리
# Python 2.x 버전은 정수로 처리
10/2 # 정수 / 정수 > 반환값은 실수형으로 반환

5.0

- 실수연산

In [ ]:
print(1.2 + 5.2) # 덧셈
print(5.4 - 2.2) # 뺄셈
print(4.3 * 2.2) # 곱셈
print(3.4 / 1.7) # 나눗셈
# 최종결과 확인할 때 웬만하면 print 사용하기
# 웹개발, IDE 환경에서 코드 작성 시, print() 필수이기 때문

6.4
3.2
9.46
2.0

### 연산규칙
- (1) 괄호안 계산
- (2) 지수 계산
- (3) 곱셈과 나눗셈 계산
- (4) 덧셈과 뺄셈 계산
- (5) 같은 순위 연산이면, 왼쪽에서 오른쪽으로
- (6) 중복된 괄호가 있을 경우, 안쪽에서부터 처리

In [ ]:
print(2+3*4)

14

In [ ]:
print(3/2*4-5/2)

3.5

In [ ]:
print((5*4-15)+((5-2)*(9-7)))

11

## type()
- 함수 : 특정 기능을 수행하도록 만든 매직박스
  + 특정함수를 조건만 맞춰주면 동작

함수의 종류
- 내장(built-in) 함수 : 파이썬 설치와 함께 제공하는 기본적인 함수
  + print(), type()
  + 종류가 몇 개인가요? (몰라요,,)
  + Documentation : 함수를 설명해주는 문서 보는 법 익힐 것 (다 영어임)

- 라이브러리에서 제공하는 함수
  + R : 패키지, Python : 라이브러리
  + 목적이 분명
   - 웹사이트 개발 : 웹사이트와 관련된 라이브러리를 별도 설치 필요
   - 통계분석 : 통계분석과 관련된 라이브러리를 별도 설치 필요
   - 시각화 : 시각화와 관련된 라이브러리 설치
   - 게임개발 : 게임개발과 관련된 라이브러리 설치
   - 수치연산 주요 라이브러리 : numpy, scipy

In [ ]:
# 파이썬에서는 정수를 어떻게 표현할까?
# 파이썬에서는 실수를 어떻게 표현할까?
print(type(3))

<class 'int'>

In [ ]:
print(type(3.5))

<class 'float'>

- class는 파이썬 객체지향 언어임

## 거듭제곱과 나머지
- 숫자 A를 n번 곱하는 거듭제곱(Power)
  + A는 밑, n을 지수라고 표현

In [ ]:
2*2*2*2*2

32

In [ ]:
2 ** 5  # 거듭제곱

32

- 나머지 구하는 방법

In [ ]:
13 % 5 # 나머지

3

In [ ]:
# 몫을 구하고 싶음
13 // 5

2

- 교재 표 3-1(p34) 산술연산자 표 정리

## 과학적 표기법(scientific notation)
- 아주 큰 수, 작은 수를 다뤄야 하는 케이스
  + 빛은 초당 30만 km
  + 단위를 m/s 표현하면, 300,000,000m/s
  + 3x10^8

In [ ]:
3*10**8

300000000

In [ ]:
3e8  # 과학적 표기법 / e에 숫자 붙으면 그만큼 0이 붙는 것

300000000.0

In [ ]:
3e-4  # e에 마이너스 붙으면 소수점 자리 개수 말하는 것

0.0003

In [ ]:
1e-4

0.0001

## 진수 표현과 변환
- 우리는 일상생활에서는 10진법
- 60진법 : 60초가 1분이고, 60분이 1시간
- 12진법 : 오전 12시간, 오후 12시간, 1년 12달
- 컴퓨터 프로그래밍, 숫자 0과 1로 이루어진 2진법 수행
- 8진법 : 0~7까지의 숫자
- 16진법 : 0~9, a,b,c,d,e,f
- 메서드
  + bin() : 10진수를 2진수로
  + oct() : 10진수를 8진수로
  + hex() : 10진수를 16진수로

In [ ]:
17 # 10진법

17

In [ ]:
0b10001 # 2진법

17

In [ ]:
0o21 # 8진법

17

In [ ]:
0x11 # 16진법

17

## 논리 연산 및 비교 연산 ( 매우 중요 )
- 참/거짓
- 논리 연산을 잘 활용하는 것이 프로그래밍의 핵심

In [ ]:
print(True)

True

In [ ]:
print(False)

False

In [ ]:
print(type(True))

<class 'bool'>

### 논리 연산자
- and : A and B : A와 B 모두 참일때 참

- or : A or B : A와 B 중 하나라도 참이면 참, 둘다 거짓일 때 거짓

- not : not A : A가 참일 때 거짓, A가 거짓일 때 참

In [ ]:
# 교집합
# True 또는 False 결과가 나오도록 조건식을 만들어야 함
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# 합집합
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
not False

True

### 비교 연산자

In [ ]:
# True 또는 False 결과가 나오도록 "의도적"으로 조건식을 만들어야 함
1 == 2  # a와 b가 같다

False

In [ ]:
1 != 2  # a와 b는 같지 않다

True

In [ ]:
1 <= 2 # a는 b보다 작거나 같다

True

In [ ]:
1 < 2 # a가 b보다 작다

True

In [ ]:
1 >= 2 # a가 b보다 크거나 같다

False

In [ ]:
1 > 2 # a가 b보다 크다

False

### 비교연산자 + 논리연산자

In [ ]:
1 > 0 and -2 < 0 # 비교연산자(1순위) 논리연산자(2순위)
# True and True 여서 결과값 True

True

In [ ]:
# 괄호 안이 먼저 연산
((3 < 0) and (-5 > 0)) and (1 > 5)

False

# Chapter 4. 변수와 자료형
- 깃허브
  - Repo 1: 학습 또는 교육, MulCamp-lectures
    + pandas, 시각화, django
  - Repo 2: 멀캠 세미 프로젝트
  - Repo 3: 00공모전

  - 옵션: 자기 소개 Repo
    + 링크 추가(Repo2)

  ---이렇게는 금지
    - mulcamp24_1227
    - mulcamp24_1228

  --- 1월 3~4일 이후 개별면담 진행

## 변수 (p.42)

In [61]:
# 단순 계산기
1+1

2

변수명 = data

In [66]:
# 변수 : Variable, 데이터
a = 100
b = 1110

In [67]:
print(a)  # a값을 바꾸었다면 반드시 실행 후 print하기
print(b)

100
1110

In [64]:
# 런타임 > 이후 셀 실행 : 선택된 셀부터 이후 셀들 모두 실행됨

### 변수명 짓기 규칙
- snake, camel

In [71]:
# snake
num_a = 100
num_b = 110

# camel
myStudent = "evan"
mySchool = "학교이름"

# 주의해야할 것
# 3star = "이장군"  # 앞에 숫자가 오면 안됨

In [72]:
print(num_a)

100

In [73]:
# print = 100 (금지, 안됨!!)
print(num_a) # 내장함수명을 변수명으로 만들면 안됨!(print를 변수명으로 만들어서 오류)
# 변수 관련 오류가 났을 때 런타임 > 세션 다시 시작 하면 변수가 초기화되므로 오류 수정 가능

In [1]:
num = 1
Num = 100

In [2]:
print(num)
print(Num)

1
100

In [ ]:
my student = "evan" # 변수명 작성시, 공백 있음 안됨

### 예약어는 변수명으로 이용할 수 없음
- (p.45)
- print, None, True, etc.

### 변수의 반대어 : 상수
- 한번 지정 후, 변하지 않는 고정 값

In [3]:
# 상수
pi = 3.14

In [5]:
# 실제 변수를 만들어보기
num1 = input("숫자를 입력해주세요!!")  # 숫자를 입력해도 기본값은 문자열로 반환
num2 = input("숫자를 입력해주세요!!")

print(num1, num2)

숫자를 입력해주세요!!100
숫자를 입력해주세요!!200
100 200

In [9]:
print(num1 + num2)
print(num2 + num1)

100200
200100

In [8]:
print(type(num1))  # <class 'str'> 문자열
print(type(num2)) # <class 'str'> 문자열

<class 'str'>
<class 'str'>

In [13]:
print(int(num1)+int(num2))

300

In [15]:
# 하고 싶은 것 : 사칙연산
# 해결방안 : 문자열 100을 숫자 100으로 변경하면 될 것 같음
# 코드를 찾기

# 구글링 후 코드 복사 > 한 줄씩 이해 후 적용 > 원래 코드는 주석 처리

# string_num = "42"
# int_num = int(string_num)
# print(int_num)  # Output: 42

num_a = int(num1)
num_b = int(num2)
print(num_a + num_b)

300

In [ ]:
# 프로그래밍 문자열로 표현하고 싶다!
"" or ''

In [ ]:
a = '100' # 문자열 100
b = '5000' # 문자열 5000