<a href="https://colab.research.google.com/github/Jsoyoung/mulcamp34/blob/main/%ED%86%B5%EA%B3%84%EB%B6%84%EC%84%9D_240111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 통계검정
- 교재 p294

## 문제 상황
- 편의점 감자튀김(무게 130g으로 알려져 있음)
- 학생이 무게 하나 잼. 122.02g 밖에 되지 않음
- 2주간 매일 감자튀김을 사서 무게를 측정
    + 14개의 표본의 평균 계산했는데, 128.451g -> 학생이 편의점에 항의
    + 편의점 : 그저 우연이다
- 14개 표본의 평균이 128.451g으로 나온 건 정말 우연인가?

### 질문
- 어떤 통계 검정 방법을 사용해야 할까? :
    + t-test, One Sample T-test
    + 표본 14개 -> 정규성 검정 진행 후, 정규성 검정 통과할 때, One Sample T-Test

- 귀무가설과 대립가설을 설정해보기
    + 귀무가설 : 모평균(130g)과 표본평균(128.451)이 같다.
    + 대립가설 : 모평균(130g)과 표본평균(128.451)이 같지 않다. (양측검정)
    + 대립가설 : 모평균(130g)이 표본평균(128.451)보다 크다. (단측검정)
- 교재 p302 단측검정과 양측검정 설명

In [ ]:
!pip install scipy

Requirement already satisfied: scipy in c:\users\jeong\desktop\projectds\venv\lib\site-packages (1.11.4)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in c:\users\jeong\desktop\projectds\venv\lib\site-packages (from scipy) (1.26.3)

In [ ]:
# p294
import numpy as np
import pandas as pd
from scipy import stats

In [ ]:
%precision 3
np.random.seed(1111)

In [ ]:
import scipy
scipy.__version__

'1.11.4'

In [ ]:
df = pd.read_csv('data/ch11_potato.csv')
sample = np.array(df['무게'])
sample

array([122.02, 131.73, 130.6 , 131.82, 132.05, 126.12, 124.43, 132.89,
       122.79, 129.95, 126.14, 134.45, 127.64, 125.68])

In [ ]:
# 표본평균
s_mean = np.mean(sample)
s_mean

128.4507142857143

### A 학생의 관심
- (14개의) 표본평균이 모평균 130g보다 적은지 여부
- 여기서는 감자튀김의 표본집단이 정규분포를 따르고 있다 -> 정규성 검정을 할 필요가 없다
    + 비모수 검정을 쓸 필요가 없다
    + 모수 검정을 하면 된다
- 모분산이 9임을 알고 있다고 전제한다.

In [ ]:
rv = stats.norm(130,  # 모평균
                np.sqrt(9/14))  # 9 모분산, 14 표본의 개수
rv.isf(0.95)  # 0.95 신뢰구간 95%
# 임계값

128.68118313069039

In [ ]:
rv = stats.norm(130,  # 모평균
                np.sqrt(9/30))  # 9 모분산, 30 표본의 개수
rv.isf(0.95)  # 0.95 신뢰구간 95%

129.0990765647245

In [ ]:
# 이 같은 결과를 t통계량(검정통계량)으로 변환 -> p.value값으로 변환

### 검정통계량

In [ ]:
# 모평균 130
z = (s_mean - 130) / np.sqrt(9/14)
z  # t-통계량을 구한 것

-1.932298779026813

In [ ]:
# 검정 통계량에 관한 임계값을 구하기
rv = stats.norm()
rv.isf(0.95)

-1.6448536269514722

In [ ]:
z = (s_mean - 130) / np.sqrt(9/30)
rv = stats.norm()
rv.isf(0.95)  # 표본 개수가 달라졌지만(z값이 달라짐) 임계값이 같음 -> 표준정규분포표 때문

-1.6448536269514722

In [ ]:
rv.cdf(z)  # 유의수준 0.05보다 p값이 작음

# 귀무가설 : 모평균 130g은 표본평균 128.451g과 같다
# 대립가설 : 모평균 130g은 표본평균 128.451g과 다르다.

# 귀무가설을 기각한다.(=대립가설 채택)

# 대립가설 채택을 한다는 말은 통계에서 존재하지 않음
# 귀무가설 채택 or 귀무가설 기각

0.026661319523126635

In [ ]:
# 양측검정
z = (s_mean - 130) / np.sqrt(9/14)
rv = stats.norm()
rv.interval(0.95)  # 신뢰구간 95%

(-1.959963984540054, 1.959963984540054)

In [ ]:
rv.cdf(z) * 2

0.05332263904625327

## 질문
- 단측검정, 양측검정을 어떤 상황에서 구분해서 사용하나요?
    + 양측검정 : A와 B가 같지 않다
      - 해석 : 우리가 모두 아는 평균 가지고 비교 가능
    + 단측검정 : A > B, B > A

## 가설검정의 두 가지 오류
- 제 1종 오류 : 귀무가설이 옳을 때 귀무가설을 기각하는 오류
- 제 2종 오류 : 대립가설이 옳을 때 귀무가설을 채택하는 오류

### 제 1종 오류
- 실제로 평균이 130g인데도 불구하고 평균은 130g보다 작다고 결론을 내리는 상황
    + False Positive(오탐)

In [ ]:
rv = stats.norm(130, 3)
c = stats.norm().isf(0.95)
n_samples = 10000
cnt = 0
for _ in range(n_samples):
    sample_ = np.round(rv.rvs(14), 2)
    s_mean_ = np.mean(sample_)
    z = (s_mean_ - 130) / np.sqrt(9/14)
    if z < c:
        cnt += 1
cnt / n_samples

0.052

In [ ]:
- 1종 오류를 범할 비율은 0.053 / 약 5%의 비율로 130g보다 작다고 잘못 탐지하는 것과 같다.
- 1종 오류를 범할 확률을 위험률
- 좀 더 엄격하게 적용하고 싶다고 하면 유의수준 1%에서 가설검정을 수행

### 제 2종 오류
- 실제로 표본평균이 130g보다 작음에도 불구하고 표본평균은 130g보다 작다라는 결론을 얻을 수 없는 상황
    + 본래 검출해야 하는 것을 검출하지 못했으므로 미탐 false negative

In [ ]:
# p.306
rv = stats.norm(128, 3)  # A 학생이 편의점에서 비밀문서, 실제로는 감자튀김의 평균이 128g

c = stats.norm().isf(0.95)
n_samples = 10000
cnt = 0
for _ in range(n_samples):
    sample_ = np.round(rv.rvs(14), 2)
    s_mean_ = np.mean(sample_)
    z = (s_mean_ - 130) / np.sqrt(9/14)
    if z >= c:
        cnt += 1

cnt / n_samples

0.195

- 0.198의 의미는 검정력 / 제대로 탐지하지 못할 확률이 20% 되더라
- 제 2종 오류는 언제나 모집단의 정보에 의존한다.
    + 중요한 포인트 : 분석가는 모집단의 구체적인 정보를 알 방법이 없다.(모분산 알 수 x)
    + 1종오류의 유의확률만 관리하면 2종오류는 알아서 관리된다.(1종오류확률 올라가면 2종오류확률 낮아지는 식이어서)

In [ ]:
rv = stats.norm(127, 3)  # 평균을 몇으로 세팅하냐에 따라서 오류를 범할 확률이 달라지는 것을 볼 수 있다.

c = stats.norm().isf(0.95)
n_samples = 10000
cnt = 0
for _ in range(n_samples):
    sample_ = np.round(rv.rvs(14), 2)
    s_mean_ = np.mean(sample_)
    z = (s_mean_ - 130) / np.sqrt(9/14)
    if z >= c:
        cnt += 1

cnt / n_samples

0.019

### 모분산을 안다!!
- 현실적으로 모집단을 아는 것은 불가능
    + 건강보험과 통계 / 전국민 데이터가 있는 자료(국가)
- 모분산을 알고 있다는 뜻은 모집단을 알고 있다 -> 모평균도 구할 수 있음 -> 모평균에 대한 검정을 우리가 굳이 할 필요가 있나?

In [ ]:
def pmean_test(sample, mean0, alpha=0.05):
    '''
    sample : 표본 샘플 데이터
    mean0 : 모평균을 제안(감자칩의 무게와 같이 이미 기 제안이 된 것)
    alpha : 신뢰구간 95% 수준의 신뢰구간
    '''
    s_mean = np.mean(sample)
    u_var = np.var(sample, ddof=1)
    n = len(sample)
    rv = stats.t(df=n-1)
    interval = rv.interval(1-alpha)

    t = (s_mean - mean0) / np.sqrt(u_var/n)
    print(f't통계량 값: {t:.3f}')
    if interval[0] <= t <= interval[1]:
        print('귀무가설을 채택')
    else:
        print('귀무가설을 기각')

    if t < 0:
        p = rv.cdf(t) * 2
    else:
        p = (1 - rv.cdf(t)) * 2
    print(f'p값은 {p:.3f}')

In [ ]:
pmean_test(sample, 130)

t통계량 값: -1.455
귀무가설을 채택
p값은 0.169

In [ ]:
t, p = stats.ttest_1samp(sample, 130)
t, p

(-1.455, 0.169)

## 비전공자 / 이공계
- 비전공자 : 해당되는 수식을 일반인들에게 어떻게 풀어서 쉽게 설명을 해줄 것인가가 포인트, 보고서 작성 시
- 이공계 : 수식을 잘 정리해서 블로그 등 정리를 하는 것이 도움이 됨

### z 통계량, t 통계량
- 모집단을 알고, 모평균을 알고, 모분산을 다 알고 있다.
    + z-검정 : z 통계량
- 표본을 추출한다. 표본 평균을 알고, 표본 분산을 알고 있다.
    + t-검정 : t 통계량

# 2표본 문제에 관한 가설검정
- 대응표본 : 정규분포를 가정할 수 있음(정규성 검정 통과)
    + 정규성 검정 통과 : 대응표본 t-검정
    + 정규성 검정 통과 실패 : 비모수 검정, 윌콕슨의 부호순위검정
      
- 독립표본 : 정규분포를 가정할 수 있음
    + 정규성 검정 통과 : 독립비교 t-검정
    + 정규성 검정 통과 실패 : 맨-위트니의 U 검정

### 대응표본 t-검정
- A 학생은 친구 20명에게 1주일간 근력 운동을 하게 함(intervention, 개입)
- 운동 전후에 집중력을 측정하는 테스트 받게 됨
- 가설검정
    + 귀무가설 : 근력운동 전후 집중력 평균 차이가 없다
    + 대립가설 : 근력운동 전후 집중력 평균 차이가 있다

- t test 귀무가설에서는 '평균 차이'가 꼭 언급되어야 함

In [ ]:
import pandas as pd

training_rel = pd.read_csv('data/ch11_training_rel.csv')
training_rel['차'] = training_rel['후'] - training_rel['전']
training_rel.head()

    전   후   차
0  59  41 -18
1  52  63  11
2  55  68  13
3  61  59  -2
4  59  84  25

In [ ]:
from scipy import stats
t, p = stats.ttest_1samp(training_rel['차'], 0)
t, p

(2.204, 0.040)

In [ ]:
# 위와 같은 결과, 다른 코드(차이 구하지 않고 검정 수행)
t, p = stats.ttest_rel(training_rel['후'], training_rel['전'])
t, p

(2.204, 0.040)

## 보고서 작성
- t-통계량 / p-value 값
- 전&후 시각화 코드 / 전 평균값, 후 평균값
  
- (1)두 그래프 차이를 보니 후 평균값이 더 높더라(기존)
- (2)두 그래프의 평균 차이가 유의미하게 나타났고, 후 평균값이 더 높게 나타난 것 확인
    + (2)-> 평균 차이를 언급하여 더 설득력 있는 보고로 여겨짐

## 독립비교 t-검정
- 교재는 p.318
- 학생이 부쩍 늘었음
   + A 학생 그룹 인문계열
   + B 학생 그룹 체육계열, 운동을 많이 함
- A 그룹, B 그룹 사이에 집중력 테스트의 평균에서 차이가 나지 않을까 생각하여 테스트를 함
- 이 데이터로부터 어떤 검정을 수행해야 A 학생과 B 학생 학급의 집중력에 유의한 차이가 있을지 확인
- 가설설정
    + 귀무가설: A 그룹의 평균과 B 그룹의 평균 차이가 없다
    + 대립가설: A 그룹의 평균과 B 그룹의 평균 차이가 있다.

- 독립비교 t-검정 두 가지 가정
    + 1) 각 그룹 데이터의 정규성을 검정
    + 2) 두 그룹의 분산이 같다(=등분산성 검정), levene 검정 시행하더라

In [ ]:
training_ind = pd.read_csv('data/ch11_training_ind.csv')
training_ind.head()

    A   B
0  47  49
1  50  52
2  37  54
3  60  48
4  39  51

In [ ]:
# p320
t, p = stats.ttest_ind(training_ind['A'], training_ind['B'], equal_var = True) # 등분산성이 같다!
t, p

(-1.761, 0.086)

- 결론: 두 그룹의 평균 차이는 없더라, 귀무가설 채택(0.05보다 작음)

In [ ]:
# Levene 검정 이후, 살펴봤더니 등분산성이 다르더라
t, p = stats.ttest_ind(training_ind['A'], training_ind['B'], equal_var = False)
t, p

(-1.761, 0.087)

## 비모수 검정
- 모수 검정에서 각 가정을 만족시키지 못할 때, 비모수검정을 쓰더라

### 윌콕슨의 부호순위검정
- 대응표본에서 차이에 정규분포를 만족시키지 못할 때
    + 평균차이 아님(X)
    + 중앙값 차이에 대한 검정(O)
    + 중앙값 = 50% 에 해당하는 값

In [ ]:
training_rel = pd.read_csv('data/ch11_training_rel.csv')
toy_df = training_rel[:6].copy()
toy_df['차'] = toy_df['후'] - toy_df['전']
toy_df

    전   후   차
0  59  41 -18
1  52  63  11
2  55  68  13
3  61  59  -2
4  59  84  25
5  45  37  -8

In [ ]:
# 순위 적용
diff = toy_df['후'] - toy_df['전']
rank = stats.rankdata(abs(diff)).astype(int)
toy_df['순위'] = rank
toy_df

    전   후   차  순위
0  59  41 -18   5
1  52  63  11   3
2  55  68  13   4
3  61  59  -2   1
4  59  84  25   6
5  45  37  -8   2

In [ ]:
import numpy as np

r_minus = np.sum((diff < 0) * rank)
r_plus = np.sum((diff > 0) * rank)

r_minus, r_plus  # 검정통계량 8

(8, 13)

In [ ]:
toy_df['후'] = toy_df['전'] + np.arange(1, 7)
diff = toy_df['후'] - toy_df['전']
rank = stats.rankdata(abs(diff)).astype(int)
toy_df['차'] = diff
toy_df['순위'] = rank
toy_df

    전   후  차  순위
0  59  60  1   1
1  52  54  2   2
2  55  58  3   3
3  61  65  4   4
4  59  64  5   5
5  45  51  6   6

In [ ]:
toy_df['후'] = toy_df['전'] + np.arange(1, 7)
diff = toy_df['후'] - toy_df['전']
rank = stats.rankdata(abs(diff)).astype(int)
toy_df['차'] = diff
toy_df['순위'] = rank

r_minus = np.sum((diff < 0) * rank)
r_plus = np.sum((diff > 0) * rank)

r_minus, r_plus

(0, 21)

In [ ]:
toy_df['후'] = toy_df['전'] + [1, -2, -3, 4, 5, -6]
diff = toy_df['후'] - toy_df['전']
rank = stats.rankdata(abs(diff)).astype(int)
toy_df['차'] = diff
toy_df['순위'] = rank
toy_df

    전   후  차  순위
0  59  60  1   1
1  52  50 -2   2
2  55  52 -3   3
3  61  65  4   4
4  59  64  5   5
5  45  39 -6   6

In [ ]:
r_minus = np.sum((diff < 0) * rank)
r_plus = np.sum((diff > 0) * rank)

r_minus, r_plus  # 검정통계량 10

# 순위가 많이 바뀔수록...../?

(11, 10)